{{#each messages.error}}
   <div class = "alert alert-danger mt-5 col-md-6 offset-1">{{ this }}</div>
{{/each}}

{{#each messages.success}}
   <div class = "alert alert-success mt-5 col-md-6 offset-1">{{ this }}</div>
{{/each}}